<%= form_for(schedule) do |f| %>
  <div class="schedule-classroom">
    <%= f.label :classroom %>
    <%= f.collection_select :classroom_id, Classroom.all, :id, :name %>
  </div>
  <div class="schedule-teacher">
    <%= f.label :Teacher %>
    <%= f.collection_select :teacher_id, Teacher.all, :id, :name %>
  </div>
  <div>
    <%= f.label :Date %>
    <%= f.text_field :date, :class => 'datepicker', :placeholder => 'Select Date', required: true %>
  </div>
  <div class="start-time">
    <%= f.label :Start %>
    <%= f.text_field :start, :class => 'timepicker start_time',id: 'start_time', placeholder: 'Select Start time', required: true%>
  </div>
  <div class="end-time">
    <%= f.label :End %>
    <%= f.text_field :end, :class => 'timepicker end_time', id: 'end_time', placeholder: 'Select End time', required: true %>
  </div>
  <div class="action">
    <%= f.submit %>
  </div>
<% end %>
