<h1>List of Schedules</h1>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Classroom</th>
      <th>Lecturer</th>
      <th>Subject</th>
      <th>Start</th>
      <th>Finish</th>
      <% if current_user.role.name.eql? 'admin' %>
        <th colspan="3">Actions</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <%= will_paginate %>
    <% @schedules.each do |schedule| %>
      <tr class="<%= schedule.id %>">
        <td><%= schedule.date %></td>
        <td><%= schedule.classroom.name %></td>
        <td><%= schedule.user.name %></td>
        <td><%= schedule.subject %></td>
        <td><%= schedule.start %></td>
        <td><%= schedule.finish %></td>
        <% if current_user.role.name.eql? 'administrator' %>
          <td><%= link_to 'Show', schedule_path(schedule), class: 'btn btn-default' %></td>
          <td><%= link_to 'Edit', edit_schedule_path(schedule), class: 'btn btn-default' %></td>
          <td><%= link_to 'Destroy', schedule_path(schedule), class: 'btn btn-default', method: :delete, remote: true, format: :js %></td>
        <% end %>
      </tr>
    <% end %>
    <%= will_paginate %>
  </tbody>
</table>
<br>
<% if (current_user.role.name.eql? 'lecturer' or current_user.role.name.eql? 'administrator') %>
  <%= link_to 'New schedule', new_schedule_path, class: "btn btn-default" %>
<% end %>
