<header class="navbar navbar-fixed-top">
  <div class="container">
    <%= link_to "ClassManagement", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",    root_path %></li>
        <% if logged_in? %>
          <% if (current_user.role.eql? 'lecturer' or current_user.role.eql? 'admin') %>
            <li><%= link_to "Classrooms", classrooms_path %></li>
          <% end %>
            <li><%= link_to "Log out", logout_path, method: "delete" %></li>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
